.broccolini_body {
    font-family: "Bad Script", sans-serif;
    background-color: rgb(214, 240, 214);
    color: darkgreen;
    font-size: 20px;
    font-weight: 100;
}

h1.broccolini_body{
    font-size: 30px;
}

h2.broccolini_body {
    font-size: 24px;
}

.broccolini-img {
    width: 300px;
    height: auto;
    text-align: center;
    border-radius: 20%;
}

.smoothiebody {
    background-color: lightpink;
    font-family: sans-serif;
}

.smoothie-img {
    width: 300px;
    height: auto;
    border-radius: 20%;
}

h1.smoothie-heading {
        font-size: 30px;
}

.smoothie-heading {
    font-family: "Sofia", sans-serif;
    font-size: 24px;
}

.smoothie-footer {
    font-family: "Sofia", sans-serif;

}

.chickenbody {
    font-family: 'Aref Ruqaa Ink', sans-serif;  
    background-color: lightgoldenrodyellow;
}

.chickenimg {
    width: 300px;
    height: auto;
    border-radius: 20%;
}

.subhead {
    font-weight: bold;
    text-align:center;
}

